<html>
<head>
    <meta>
    <meta http-equiv="Pragma" content="no-cache">
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- Version: {{.Version}} -->
    <!-- Commit: {{.Commit}} -->
    <!-- Time: {{.Time}} -->
    <!-- Compiler: {{.Compiler}} -->
    <!-- Host: {{.Host}} -->

    <!-- keep forms.css before tailwind, otherwise opacity etc. will not work correctly -->
    <link href="/assets/css/gotrino.css" rel="stylesheet">
    <link href="/assets/css/tailwind.min.css" rel="stylesheet">
    <script src="/assets/js/popper-2.5.4.min.js"></script>

    <!-- this is custom for our example -->
    <link href="/assets/css/highlightjs-xcode.css" rel="stylesheet">
    <link href="/assets/css/highlightjs-custom.css" rel="stylesheet">
    <script src="/assets/js/highlightjs-10.4.0.min.js"></script>
    <script src="/assets/js/highlightjs-line-numbers-2.8.0.min.js"></script>


    <script src="wasm_exec.js?v={{.Version}}"></script>
    {{if .HotReload}}
        <script>
            function longPoll() {
                fetch("api/v1/poll/version")
                    .then(res => {
                        if (res.status == 200) {
                            document.location.reload(true)
                        }

                        setTimeout(longPoll, 100);
                    }).catch(err => {
                    setTimeout(longPoll, 1000);
                    throw err;
                });
            }

            longPoll();
        </script>
    {{end}}

    {{if .Wasm}}
        <script>
            const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

            const go = new Go();

            if (isSafari) {
                fetch('app.wasm?v={{.Version}}').then(response =>
                    response.arrayBuffer()
                ).then(bytes =>
                    WebAssembly.instantiate(bytes, go.importObject)
                ).then(result =>
                    go.run(result.instance)
                );
            } else {
                WebAssembly.instantiateStreaming(fetch("app.wasm"), go.importObject).then((result) => {
                    go.run(result.instance);
                });
            }
        </script>
    {{end}}

</head>
<body>
{{if .HasError}}
    {{- .Error -}}
{{end}}
</body>
</html>